@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.estreno {
  /* background-image: url("http://pm1.narvii.com/7140/f835aa7d72d5e69b1484ec35829f44a7234f185fr1-2048-758v2_uhq.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  margin-top: 10px;
  height: 8px; /* height of horizontal scrollbar ← You're missing this */
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: rgb(219, 219, 219);
}

.bodyIndex{
  background-color: rgba(0, 0, 0, 0.5);
}

.movieCard{
/* box-shadow: 0 1em 1em rgba(0, 0, 0, 0.5) !important; */
background: radial-gradient(#111 50%, #000 100%);
overflow: hidden;
position: relative;
}

.movieCard img{
  display: block;
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.movieCard:hover img{
  transform: scale(1);
  opacity: 0.5;
}

.movieCard-description{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.movieCard-description h1{
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 20px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;
  color: white;
}
.movieCard-description h2{
  color: white;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;
}
.movieCard-description button{
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;
  border: none;
  display: block;
  position: relative;
  padding: 0.5em 1em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: black;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
  border-radius: 10px;
}

button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  border: 2px solid white;
  border-radius: 10px
 }
button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
 }
button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #6366F1;
 }
.movieCard-description button:hover{
  color: white;
}
button:active span::before {
  background: #2751cd;
 }

.movieCard:hover .movieCard-description h1{
  opacity: 1;
  transform: translateY(0);
}
.movieCard:hover .movieCard-description h2{
  opacity: 1;
  transform: translateY(0);
}
.movieCard:hover .movieCard-description button{
  opacity: 1;
  transform: translateY(0);
}

.buscador{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-right: 0.5rem;
}
.buscador input{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.5rem;
  border-radius: 10px;
  width: 7rem;
  color: white;
  transition: all 0.5s;
}

@media(min-width: 375px) {
  .buscador input{
    width: 10rem;
  }
}
@media(min-width: 640px) {
  .buscador input:focus{
    width: 15rem;
  }
}