.estreno {
  background-image: url("http://pm1.narvii.com/7140/f835aa7d72d5e69b1484ec35829f44a7234f185fr1-2048-758v2_uhq.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  margin-top: 10px;
  height: 8px; /* height of horizontal scrollbar ← You're missing this */
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: rgb(219, 219, 219);
}
