.estreno {
  background-image: url("http://pm1.narvii.com/7140/f835aa7d72d5e69b1484ec35829f44a7234f185fr1-2048-758v2_uhq.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
